body {
	position: relative;	
	margin: 0;
	padding: 0;	
}

a, img ,a img {
	border:0;
}
		
.map-vehiculo area {
	cursor:pointer;
}	

#canvas_parte_trasera {
	/* add image map image to canvas area */
	background: url(../images/ParteTrasera.png) no-repeat top left;
}

#colourwheel {
	/* add image map image to canvas area */
	background: url(../images/ParteFrontal.png) no-repeat top left;
}
	
.colourwheel {
	*cursor:pointer;
	position: absolute;
	z-index:2;
	    top: 0;
    left: 0;
	/* change opacity if transparent gif is not used ---
	opacity: 1;
	filter:alpha(opacity=0);
	*/
}